@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: #e1dede;
    --bg-color: #010031;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'League Gothic', sans-serif;
    /* letter-spacing: 1rem; */
}
.logo {
    letter-spacing: 18px;
}
